<div class="header-color-bar"> </div>

<div class="logo-section">
  <%= image_tag 'landing/phone.png'%>
  <div class="vertical-separator"> </div>
  <%= image_tag 'landing/tcg_logo.png'%>
</div>

<hr />

<div class="features-section">
  <div class="feature">
    <%= image_tag 'landing/ic_list.png'%>
    <h3> Keep track of your money </h3>
    <p> See all your debts and all your friends debts towards you. </p>
  </div>

  <div class="feature">
    <%= image_tag 'landing/ic_reminder.png'%>
    <h3> Generate reminders </h3>
    <p> Get reminded of who owes you money or who you owe money to </p>
  </div>

  <div class="feature">
    <%= image_tag 'landing/ic_safe.png'%>
    <h3> No internet needed </h3>
    <p> All your debts are kept safe in your phone </p>
  </div>
</div>

<div class="footer">

    <h3> Get info on new updates </h3>
    <input class="footer-input" type="text" />
    <input type="submit" class="submit" value="Subscribe"/>
</div>
